<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.situ.mybatis.mapper.StudentMapper">
  	   	<!-- SELECT * FROM student WHERE id IN(27,38,39,999); -->
  	   <select id="findByIdArray" resultType="Student">
  	   		select * from student where id in
  	   		<foreach collection="array" item="id" separator="," open="(" close=")">
  	   			#{id}
  	   		</foreach>
  	   </select>
  	   
  	   <select id="findByIdList" resultType="Student">
  	   		select * from student where id in
  	   		<foreach collection="list" item="id" separator="," open="(" close=")">
  	   			#{id}
  	   		</foreach>
  	   </select>
  	   
  	   <select id="findBySearchVO" parameterType="SearchVO" resultType="Student">
  	   		select * from student where id in
  	   		<foreach collection="idIist" item="id" separator="," open="(" close=")">
  	   			#{id}
  	   		</foreach>
  	   </select>
  
  	
  		<select id="findByCondition" parameterType="Student" resultType="Student">
  			select * from student
  				<where>
  					<if test="name!=null">
		  				and name like '%${name}%' 
  					</if>
  					<if test="age!=null">
	  					and age=#{age}
  					</if>
  				</where>
  		</select>
  		
  		<update id="dynaUpdate" parameterType="Student">
  			update student
  			<set>
  				<if test="name!=null">
  					name=#{name},
  				</if>
  				<if test="age!=null">
  					age=#{age},
  				</if>
  				<if test="gender!=null">
  					gender=#{gender},
  				</if>
  				<if test="address!=null">
  					address=#{address},
  				</if>
  			</set>
  			where id=#{id}
  		</update>
  
  	  <sql id="studentColums">
  	  	s_id,s_name,age,gender,address
  	  </sql>
  	  
  	  <resultMap type="Student" id="studentMap">
  	     <id property="id" column="s_id"/>
  	     <result property="name" column="s_name"/>
  	  </resultMap>
  		
	  <select id="findAll" resultMap="studentMap">
	  		select <include refid="studentColums"/>  from student
	  </select>
  
  
  
  	  
  	  <select id="findCount" resultType="Integer">
  	  	select count(*) from student
  	  </select>
  
  
	  <select id="findBySearchVO1" parameterType="SearchVO" resultType="Student">
	  		select <include refid="studentColums"/> from student where name like '%${student.name}%'
	  </select>
	  
	  <select id="findByPage" parameterType="map" resultType="Student">
	  		select <include refid="studentColums"/> from student limit #{index},#{pageSize}
	  </select>
	  
	  <select id="findByPage1" resultType="Student">
	  		select <include refid="studentColums"/> from student limit #{index},#{pageSize}
	  </select>
  
  
  
	  <!-- 根据id查询学生对象 -->
	  <select id="findById" parameterType="Integer" resultType="Student">
	  		select id,name,age,gender,address from student where id=#{id}
	  </select>
	  
	  
	  
	  <delete id="deleteById" parameterType="java.lang.Integer">
	  		delete from student where id=#{id}
	  </delete>
	  
	  
	  
	  
	  
	  <select id="findByName" parameterType="string" resultType="com.situ.mybatis.pojo.Student">
	  		select * from student where name like '%${value}%'
	  </select>
	  
	  
	  <!-- There is no getter for property named 'ideee' in 'class com.situ.mybatis.pojo.Student' -->
	   <delete id="delete" parameterType="com.situ.mybatis.pojo.Student">
	  		delete from student where id=#{id}
	  </delete>
	  
	   <insert id="add" parameterType="com.situ.mybatis.pojo.Student">
	   		insert into student(name,age) values(#{name},#{age})
	   </insert>
	  
  </mapper>