<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.situ.mybatis.mapper.StudentMapper">
  		<resultMap type="Student" id="stuInfoMap">
  			<result column="name" property="name"/>
  			<association property="banji" javaType="Banji">
  				<result property="name" column="banji_name"/>
  				<collection property="courseList" ofType="Course">
	  				<result property="name" column="course_name"/>
  				</collection>
  			</association>
  		</resultMap>
  
  		<select id="findStudentInfoById" parameterType="int" resultMap="stuInfoMap">
  			SELECT s.name,b.name as banji_name,c.name as course_name
			FROM student AS s LEFT JOIN banji AS b ON s.banji_id=b.id
			LEFT JOIN banji_course AS bc ON b.id=bc.banji_id
			LEFT JOIN course AS c ON bc.course_id=c.id 
			WHERE s.id=#{id};
  		</select>	
  
  
  		<resultMap type="Banji" id="classInfoMap">
  			<id column="banji_id" property="id"/>
  			<result column="banji_name" property="name"/>
  			<collection property="list" ofType="Student">
  				<id column="id" property="id"/>
  				<result column="name" property="name"/>
  				<result column="age" property="age"/>
  				<result column="address" property="address"/>
  				<result column="gender" property="gender"/>
  			</collection>
  		</resultMap>
  
  		<select id="findBanjiInfo" parameterType="int" resultMap="classInfoMap">
  			SELECT b.id as banji_id,b.name as banji_name,s.id,s.name,s.age,s.address,s.gender
			FROM banji AS b LEFT JOIN student AS s
			ON b.id=s.banji_id WHERE b.id=#{id};
  		</select>
  
  		<resultMap type="Student" id="studentInfosMap">
  			<id column="id" property="id"/>
  			<result column="name" property="name"/>
  			<result column="age" property="age"/>
  			<result column="address" property="address"/>
  			<result column="gender" property="gender"/>
  			
  			<association property="banji" javaType="Banji">
  				<id column="banji_id" property="id"/>
  				<result column="banji_name" property="name"/>
  			</association>
  		</resultMap>
  		
  		<select id="findStudentInfos" resultMap="studentInfosMap">
  			SELECT s.id,s.name,s.age,s.address,s.gender,b.id as banji_id,b.name as banji_name
			FROM student AS s LEFT JOIN banji AS b
			ON s.banji_id=b.id;
  		</select>
  
  	   	<!-- SELECT * FROM student WHERE id IN(27,38,39,999); -->
  	   <select id="findByIdArray" resultType="Student">
  	   		select * from student where id in
  	   		<foreach collection="array" item="id" separator="," open="(" close=")">
  	   			#{id}
  	   		</foreach>
  	   </select>
  	   
  	   	<!-- SELECT * FROM student WHERE id IN(27,38,39,999); -->
  	   <select id="findByIdList" resultType="Student">
  	   		<!-- select * from student where id in
  	   		<foreach collection="list" item="id" separator="," open="(" close=")">
  	   			#{id}
  	   		</foreach> -->
  	   		
  	   		select * from student where id in(
  	   			<foreach collection="list" item="id" separator=",">
  	   				#{id}
  	   			</foreach>
  	   		)
  	   </select>
  	   
  	   <select id="findBySearchVO" parameterType="SearchVO" resultType="Student">
  	   		select * from student where id in
  	   		<foreach collection="idIist" item="id" separator="," open="(" close=")">
  	   			#{id}
  	   		</foreach>
  	   </select>
  
  	
  		<select id="findByCondition" parameterType="Student" resultType="Student">
  			select * from student
  				<where>
  					<if test="name!=null">
		  				and name like '%${name}%' 
  					</if>
  					<if test="age!=null">
	  					and age=#{age}
  					</if>
  				</where>
  		</select>
  		
  		<update id="dynaUpdate" parameterType="Student">
  			update student
  			<set>
  				<if test="name!=null">
  					name=#{name},
  				</if>
  				<if test="age!=null">
  					age=#{age},
  				</if>
  				<if test="gender!=null">
  					gender=#{gender},
  				</if>
  				<if test="address!=null">
  					address=#{address},
  				</if>
  			</set>
  			where id=#{id}
  		</update>
  
  	  <sql id="studentColums">
  	  	s_id,s_name,age,gender,address
  	  </sql>
  	  
  	  <resultMap type="Student" id="studentMap">
  	     <id property="id" column="s_id"/>
  	     <result property="name" column="s_name"/>
  	  </resultMap>
  		
	  <select id="findAll" resultMap="studentMap">
	  		select <include refid="studentColums"/>  from student
	  </select>
  
  
  
  	  
  	  <select id="findCount" resultType="Integer">
  	  	select count(*) from student
  	  </select>
  
  
	  <select id="findBySearchVO1" parameterType="SearchVO" resultType="Student">
	  		select <include refid="studentColums"/> from student where name like '%${student.name}%'
	  </select>
	  
	  <select id="findByPage" parameterType="map" resultType="Student">
	  		select <include refid="studentColums"/> from student limit #{index},#{pageSize}
	  </select>
	  
	  <select id="findByPage1" resultType="Student">
	  		select <include refid="studentColums"/> from student limit #{index},#{pageSize}
	  </select>
  
  
  
	  <!-- 根据id查询学生对象 -->
	  <select id="findById" parameterType="Integer" resultType="Student">
	  		select id,name,age,gender,address from student where id=#{id}
	  </select>
	  
	  
	  
	  <delete id="deleteById" parameterType="java.lang.Integer">
	  		delete from student where id=#{id}
	  </delete>
	  
	  
	  
	  
	  
	  <select id="findByName" parameterType="string" resultType="com.situ.mybatis.pojo.Student">
	  		select * from student where name like '%${value}%'
	  </select>
	  
	  
	  <!-- There is no getter for property named 'ideee' in 'class com.situ.mybatis.pojo.Student' -->
	   <delete id="delete" parameterType="com.situ.mybatis.pojo.Student">
	  		delete from student where id=#{id}
	  </delete>
	  
	   <insert id="add" parameterType="com.situ.mybatis.pojo.Student">
	   		insert into student(name,age) values(#{name},#{age})
	   </insert>
	  
  </mapper>