<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
	<!-- 加载外部配置文件，src下面直接写文件名 -->
	<properties resource="db.properties"/>
	
	<!-- 定义别名 -->
	<typeAliases>
		<!-- 单个别名的定义 -->
		<!-- <typeAlias alias="Student" type="com.situ.mybatis.pojo.Student"/>
		<typeAlias alias="Banji" type="com.situ.mybatis.pojo.Banji"/> -->
		<package name="com.situ.mybatis.pojo"/>
		<package name="com.situ.mybatis.vo"/>
	</typeAliases>
	
	
	
	<environments default="development">
		<environment id="development">
			<!-- 使用jbbc事物管理 -->
			<transactionManager type="JDBC"></transactionManager>
			<!-- 数据库连接池 -->
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
               <property name="url" value="${jdbc.url}" />
               <property name="username" value="${jdbc.username}" />
               <property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	
	
	
	<mappers>
		<!-- <mapper resource="com/situ/mybatis/mapper/StudentMapper.xml"/>
		<mapper resource="com/situ/mybatis/mapper/BanjiMapper.xml"/> -->
		
		<package name="com.situ.mybatis.mapper"/>
	</mappers>
	
	
</configuration>